@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(231, 230, 226);
}

.container{
padding: 70px 8%;
}

.hero{
    padding: 0;
    margin-top: 0px;
    background-image: url("images/gray-background.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    min-height: 400px;
    color: rgb(255, 255, 255);
    position: relative;
}

.hero h1:nth-child(2){
    margin-bottom: 20px;
     font-size: 50px; 
}

.hero a{
    font-size: 25px;
    background-color: rgb(231, 205, 55);
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    border-radius: 15px 15px;
    text-decoration: none;
}

#order-section {
padding-top: 20px;
text-align: center;
}

#order-section h1{
    font-size: 40px;
    color: rgb(187, 162, 21);
}

 #order-section .order .btn{
    font-size: 15px;
    background-color: rgb(179, 157, 35);
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    border-radius: 15px 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}


#order-section .order p{
    font-size: 20px;

}


