@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container1{
padding: 70px 8%;
}

.hero{
    padding: 0;
    margin-top: 0px;
    background-image: url("images/gray-background.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    min-height: 400px;
    color: rgb(255, 255, 255);
    position: relative;
}

.hero h1:nth-child(2){
    margin-bottom: 20px;
     font-size: 50px; 
}

.hero a{
    font-size: 25px;
    background-color: rgb(231, 205, 55);
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    border-radius: 15px 15px;
    text-decoration: none;
}

#order-section {
padding-top: 20px;

}

#order-section h1{
    font-size: 40px;
    color: rgb(187, 162, 21);
    text-align: center;
}



 #order-section  .btn{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 15%;
}

#order-section .form{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    margin-left: 8%;

}


#order-section .form select{
    width: 50%;
    margin: 10px 0px;
    padding: 10px;
    font-size: 18px;
    background-color: rgb(224, 223, 219);
    border-radius: 5px;
}


.form #error1, #error2, #error3, #error4{
color: red;
}


th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }